* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

header {
  background-image: url(background.jpg);
  background-size: cover;
  height: 100vh;
  color: black;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 300%;
  font-weight: 700;
  word-spacing: 4px;
  letter-spacing: 1px;
}
p {
  font-size: 90%;
  margin-bottom: 60px;
}

.logo {
  height: 80px;
  width: 80px;
  margin-top: 20px;
}
.main-container {
  padding: 0 30px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}
.container img {
  float: left;
}
.main-nav {
  float: right;
  list-style: none;
  margin-top: 40px;
}
.main-nav li {
  display: inline-block;
  padding-left: 60px;
}
.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid white;
}

.btn-nav {
  margin-left: 20px;
}
.main-nav .btn-nav:link,
.main-nav .btn-nav:visited {
  background-color: transparent;
  color: black;
  padding: 12px 45px;
  border-bottom: none;
  border-radius: 8px;
  border: 1px solid black;
  transition: background-color 0.2s, color 0.2s;
}
.main-nav .btn-nav:hover,
.main-nav .btn-nav:active {
  background-color: black;
  color: white;
}

.main-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 70%);
}
.hero-text {
  width: 36vw;
}
.hero-text a {
  text-decoration: none;
}
.btn-solid {
  background-color: black;
  color: white;
  padding: 12px 45px;
  margin-right: 20px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-ghost {
  color: black;
  padding: 12px 45px;
  border-radius: 8px;
  border: 1px solid black;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-solid:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}
.btn-ghost:hover {
  color: white;
  background-color: black;
}
